<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="principal text-center">
        <h1>{{title}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="m1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="m2">
        <app-actualizar></app-actualizar>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-3">
      <img src="https://d41chssnpqdne.cloudfront.net/user_upload_by_module/chat_bot/files/6704852/jAQLLROyDAYclmQi.png" alt="Ejemplo de imagen" class="img-fluid">
    </div>
  </div>
</div>
