<div class="principal-encasulado">    
    <table>
        <head class="table-red"></head>
           <ul class="sub-menu">
            <li>FechaFin</li>
                <li></li>
                <li></li>
            </ul>
            <ul>
                <li>FechaInicio</li>
                <li></li>
                <li></li>
            </ul>
            <ul>
                <li>ValorTasa</li>
                <li></li>
                <li></li>
            </ul>
            <button src="./anular.component.ts">button</button>
    </table>
</div>
<div class="footer-table">
<p>mensaje de bienvenida</p>
</div>
<div>